<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <!-- Android 13+ (API 33): notifications are only shown once the user has granted this
         runtime permission. It is requested when backup broadcasts are enabled in the settings. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:backupAgent="com.gigabytedevelopersinc.app.cometOTP.Utilities.BackupAgent"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <activity
            android:name="com.gigabytedevelopersinc.app.cometOTP.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="otpauth"/>
                <data android:host="totp"/>
                <data android:host="hotp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.gigabytedevelopersinc.app.cometOTP.intent.SCAN_QR" />
                <action android:name="com.gigabytedevelopersinc.app.cometOTP.intent.IMPORT_QR" />
                <action android:name="com.gigabytedevelopersinc.app.cometOTP.intent.ENTER_DETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="gigabytedevelopers.com"
                    android:pathPattern="/apps/cometOTP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AboutActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AuthenticateActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.BackupActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CacheActivity"
            android:parentActivityName=".Activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- No fixed orientation: Android 16+ ignores orientation locks on large screens and the
             intro has landscape layouts and restores its state when recreated. -->
        <activity
            android:name=".Activities.IntroScreenActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/Theme.Intro.Solid" />
        <activity
            android:name=".Activities.LicensesActivity"
            android:parentActivityName=".Activities.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PrivacyPolicyActivity"
            android:parentActivityName=".Activities.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SecureCaptureActivity" />
        <activity
            android:name=".Activities.PanicResponderActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="false">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".Receivers.PlainTextBackupBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.gigabytedevelopersinc.app.cometOTP.broadcast.PLAIN_TEXT_BACKUP" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Receivers.EncryptedBackupBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.gigabytedevelopersinc.app.cometOTP.broadcast.ENCRYPTED_BACKUP" />
            </intent-filter>
        </receiver>
    </application>

    <!-- Required on Android 11+ for andOTP to be able to select a PGP provider -->
    <queries>
        <package android:name="org.sufficientlysecure.keychain" />
    </queries>
</manifest>